/*Labels*/


/* Buttons that fade in and out */
#fadeZone{
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
#fadeZone:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/*Containers */
#listContainer{
    padding-top:0px;
    position:relative;
} 
#title-form{
    padding-left: 0px;
    padding-right: 0px;
}
#textInputSpace{
    padding-left: 0px;
    padding-right: 0px;
    width:200px;

    margin: 0;
    float: none;
    
}

/*Make buttons go to top right of container */
 #editButton {
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }

 #optionGear {
     height: 30px;
     width: 30px;
     margin-top: 1px;
     margin-right: 2px;
     padding-bottom: 0px;
     position:absolute;
     top:0;
     right:0;
 }

